.friends {
    padding: 20px;
}

.friends__inner {
    margin-top: 50px;
}

.friends__img {
    width: 100px;
    height: 100px;
    display: block;
}

.friends__items {

    
}

.friends__item {
    width: 200px;
    text-decoration: none;
    margin-top: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.friends__info {
    margin-top: 10px;
    
}

.friends__name {
    margin-right: 10px;
}